<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/main" class="brand-link">
        <img src="/static/dist/img/HomeLogo.jpg" alt="HomeLogo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Home</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                
                <li class="nav-header">Function</li>
                <li class="nav-item">
                    <a href="densenet" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Classification
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="bert" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Recommendation
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>